*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // <uniquifier>: Use a unique and descriptive class name
        // <weight>: Use a value from 300 to 800
    
        .open-sans-<uniquifier> {
            font-family: "Open Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: <weight>;
            font-style: normal;
            font-variation-settings:
                "wdth" 100;
        }
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(" https://source.unsplash.com/1600x900/");
}

.caixa-maior{
    background: #000000;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
    width: 95%;
    max-width: 450px;
}

.input-cidade{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    background-color: #7c7c7c2b;
    color: #ffffff;
    width: calc(100%-100px);
}

.botao-busca{
border: none;
outline: none;
padding: 10px;
border-radius: 50px;
background-color: #7c7c7c2b;
cursor: pointer;
float: right;

}

.img-busca {
width: 20px;

}

.caixa-media{
margin-top: 30px;

}

.cidade{
    color: #ffffff;
    font-size: 28px;
    font-weight: 300;
}

.temp{
    font-size: 20px;
    color: #ffffff;
    margin-top: 20px;
}

.caixa-menor{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.texto-previsao{
    color: #ffffff;
    margin-left: 20px;
    text-transform: capitalize;
}

.umidade{
    color: #ffffff;
    margin-top: 20px;
}

@media (max-width: 1145px) {

    .botao-busca{
        padding: 8px;
    }

    .input-cidade {
        width: 216px;

    }
}
